<%= form_for(@pregunta) do |f| %>
  <% if @pregunta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pregunta.errors.count, "error") %> prohibited this pregunta from being saved:</h2>

      <ul>
      <% @pregunta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, 'Descripción', class: "labelForms" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :extraInfo, 'Información Adicional', class: "labelForms" %><br>
    <%= f.text_field :extraInfo %>
  </div>
  <div class="field">
    <%= f.label "Imagen URL", class: "labelForms" %><br>
    <%= f.text_field :imgURL %>
  </div>
  <div class="field">
    <%= f.label :Activa, class: "labelForms" %><br>
    <div class="radioButtonDiv">
	   <%= f.radio_button :active, 'true', checked: true %> <span class="radioButtonLabel">Sí</span>
    <%= f.radio_button :active, 'false' %> <span class="radioButtonLabel">No</span>
    </div>
  </div>


  <%= f.fields_for :answers do |builder| %>
    <%= render 'answer_add', f: builder %>
  <% end %>

  <div class="museo_links">
    <%= link_to_add_answer 'Agregar Respuesta', f, :answers %>
  </div><br>

  <div class="field hidden" style="display:none;">
    <%= f.label :sala_id %><br>
    <%= f.text_field :sala_id, :value => @salaid  %>
  </div>

  <div class="actions">
    <%= f.submit "   Guardar   " %>
  </div>
<% end %>
