<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
      <div class="header action"><%= link_to "Salir", destroy_admin_session_path, :method => :delete %></div>
    </div>
  </div>

<div class="row small-up-1 medium-up-3 large-up-3">
    <h1><%= @pregunta.description %></h1>
    <h4><%= @pregunta.extraInfo %></h4>

    <% @answers.each do |answer| %>
      <div class="column">
        <h5><%= answer.textAnswer %></h5>
        <div class="museo_links">
            <%= link_to "Editar", answer_edit_path({:salaid => @salaid, :exposicionid => @exposicionid, :museoid => @museoid, :preguntaid => @preguntaid, :id => answer.id}) %>, <%= link_to "Borrar", answer_destroy_path(answer), :method => :delete %>
        </div>
      </div>
    <% end %>

    <a class="large button expand nuevo" href="<%= answer_new_path({:museoid => @museoid, :exposicionid => @exposicionid, :salaid => @salaid, :preguntaid => @pregunta.id}) %>">Nueva Respuesta</a>
  </div>

   <br><br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <%= link_to "Regresar", sala_show_path({:id => @salaid, :exposicionid => @exposicionid, :museoid => @museoid}), :class => "button expand regresar", :style=>"color:white" %>
      </div>
    </div>
</div>
