<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %></div>
<% end %>

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
      <div class="header action"><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %></div>
    </div>
  </div>
  <br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <h1>Museos</h1>
    <% @museos.each do |museo| %>
      <div class="column">

        <%= link_to image_tag(museo.imgURL, class: "thumbnail"), indexquiz_path(museo) %>
        <h5><%= museo.name %></h5>
        <h5><%= museo.description %></h5>
      </div>
    <% end %>
  </div>

</div>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
