<div class="container">
    <div class="center row">
      <h1 class="center signup-logo mainLogo">3 Museos Contando Tu Historia.</h1>
      <%= image_tag("http://www.3museos.com/wp-content/uploads/2015/07/logo-historia.svg", :class => "logo") %>
      <%= image_tag("http://www.3museos.com/wp-content/uploads/2015/07/logo-mune.svg", :class => "logo") %>
      <%= image_tag("http://www.3museos.com/wp-content/uploads/2015/07/logo-palacio.svg", :class => "logo") %>
      <br><br><br>
        <div class="row">
            <div class="large-12 columns">
                <div class="signup-panel">
                    <p class="welcome">Iniciar Sesión</p><br>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                      <div class="row collapse">
                        <div class="small-4  columns">
                          <%= f.label "Correo", :class => "iniciarSesionTexto" %>
                        </div>
                        <div class="small-8  columns iniciarSesionCuadro">
                          <%= f.email_field :email, autofocus: true %>
                        </div>
                      </div>

                      <div class="row collapse">
                        <div class="small-4 columns ">
                            <%= f.label :password, 'Contraseña', :class => "iniciarSesionTexto" %>
                        </div>
                        <div class="small-8 columns iniciarSesionCuadro">
                          <%= f.password_field :password, autocomplete: "off" %>
                        </div>
                      </div>

                      <div class="row collapse">
                        <div class="small-4 columns ">
                            <%= f.label "Recuérdame", :class => "iniciarSesionTexto" %>
                        </div>
                        <div class="small-8 columns iniciarSesionCuadro">
                          <%= f.check_box :remember_me, :class => "recordarmeCheckbox" %>
                        </div>
                      </div>

                      <div class="row collapse">
                          <div class="small-8 columns">
                          </div>
                          <div class="small-4 columns submit center">
                              <%= f.submit "Ingresar" %></br>
                              <div class="textoBajoBoton"><%= render "devise/shared/links" %></div>
                          </div>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
