<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <% if admin_signed_in? %>
        <div style="background-color: #52318e; color: white; margin-top: -15px;">
          &nbsp;
          <div class="header action signin" style="background-color: #52318e; line-height: 24px;">
            <%= link_to "Salir", destroy_admin_session_path, style:"height: 36px; padding-bottom: 1px;", :method => :delete %>
          </div>
        </div>
    <% end %>

    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
    </div>
  </div>
  <div class="callout secondary" style="background-color: #e6ccff;">
    <div class="row column" >
      <div ><%= link_to "Menú", '/dashboard', :class => "navegation" %> >
        <b>Resultados</b>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-4 columns">
      <h5 style="font-weight:bold;text-align:center;"> Guías </h5>
      <table id="data" style="margin-left:auto; margin-right:auto;">
          <thead>
              <tr>
                  <th> ID </th>
                  <th>Usuario</th>
              </tr>
          </thead>
          <tbody>
              <% @users.each do |user| %>
              <tr class="user_links">
                  <td><%= user.id %></td>
                  <td><%= link_to user.email, admins_user_results_path(:user_id => user.id), :remote => true %></td>
              </tr>
              <% end %>
          </tbody>
      </table>
        <div class="museo_links" style="text-align: center;">
        <%= link_to "Resultados de Todos los Guías", admins_user_results_path(:user_id => -1), :remote => true %>
        </div>
        <br>
        <br>
    </div>
    <div class="large-8 columns" id="results">
      <%= render partial: 'user_results', locals: {trypoints: @trypoints }  %>
    </div>
  </div>

</div>

<br><br><br>
<div class="row">
  <div class="small-6 large-centered columns">
    <%= link_to "Regresar", '/dashboard', :class => "button expand regresar", :style=>"color:white" %>
  </div>
</div>
<script>
$("#data").dataTable(  {
      "language": {
          "lengthMenu": "Desplegar _MENU_ ",
          "zeroRecords": "No se encontro nada",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "infoEmpty": "No hay tuplas disponibles",
          "infoFiltered": "(filtrado de _MAX_ tuplas en total)",
          "search":         "Buscar:",
          "paginate": {
            "first":      "Primero",
            "last":       "Último",
            "next":       "Siguiente",
            "previous":   "Anterior"
            },
          "aria": {
            "sortAscending":  ": activar para ordenar columna de manera ascendiente",
            "sortDescending": ": activar para ordenar columna de manera descendiente"
          }
      }
  });
</script>
