<%= form_for(@sala) do |f| %>
  <% if @sala.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sala.errors.count, "error") %> prohibited this sala from being saved:</h2>

      <ul>
      <% @sala.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre, class: "labelForms" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Número de sala", class: "labelForms" %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label "Descripción", class: "labelForms" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Imagen URL", class: "labelForms" %><br>
    <%= f.text_field :mapImgURL %>
  </div>
  <div class="field hidden" style="display:none;">
    <%= f.label :exposicion_id %><br>
    <%= f.text_field :exposicion_id, :value => @exposicionid   %>
  </div>
  <div class="actions">
    <%= f.submit "   Guardar   " %>
  </div>
<% end %>
