<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <% if user_signed_in? %>
        <div style="background-color: #52318e; color: white; margin-top: -15px;">
          &nbsp;
          <div class="header action signin" style="background-color: #52318e; line-height: 24px;">
            <%= link_to "Salir", destroy_admin_session_path, style:"height: 36px; padding-bottom: 1px;", :method => :delete %>
          </div>
        </div>
    <% end %>

    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
    </div>
  </div>

  <div class="callout secondary" style="background-color: #e6ccff;">
    <div class="row column" >
      <div ><%= link_to "3 Museos", '/quiz', :class => "navegation" %> >
        <%= link_to Museo.find(Exposicion.find(@sala.exposicion_id).id).name, indexquiz_path(Museo.find(Exposicion.find(@sala.exposicion_id).id).id), :class => "navegation" %> >
        <%= link_to Exposicion.find(@sala.exposicion_id).name, '/quiz/exposicions/' + Exposicion.find(@sala.exposicion_id).id.to_s, :class => "navegation" %> >
        <b><%= @sala.name %></b>
      </div>
    </div>
  </div>
<br>

<div class="row">
<div class="container">
	<div class="corkboard-border">
		<div class="corkboard">

			<h2 class="text-center"><small class="lead">Puntaje</small></h2>
      <br>
			<div class="row">
				<div class="small-3 columns">
						<div class="post-it">
              <%= image_tag "trophey.png", :class=> "trophey" %>
						</div>
				</div>

				<div class="small-7 columns">
					<div class="scrap">
						<div class="wrapper" id="paper">
              <div id="quote">
							<p style="font-family: Courier, Monospace;">
                Tu puntaje en este examen fue de:
              </p>
              <p style="font-weight:bold; font-size: xx-large; font-family: Courier, Monospace;">
                <%= current_user.currentPoints %> puntos.
              </p>
            </div>
						</div>
					</div>
				</div>
        <div class="small-2 columns">
          <%= image_tag "m-12.png", :class=> "medal" %>
        </div>
			</div>

		</div>
		<!-- /.corkboard -->
	</div>
	<!-- /.corkboard-border -->
</div>
</div>
<!-- /.container -->
<br>
<div class="row">
  <div class="small-6 large-centered columns">
    <%= link_to "Terminar", '/quiz', :class => "button expand regresar", :style=>"color:white" %>
  </div>
</div>
</div>
