<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<script language="javascript" type="text/javascript">
  function empezar() {
    var pDiv = document.getElementById("preguntaDiv0");
    pDiv.style.display = 'inline';
  }
</script>

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <h1>name: <%= @sala.name %></h1>
      <h4>description: <%= @sala.description %></h4>
    </div>
  </div>

<div class="row medium-8 large-7 columns">

    <% @preguntas.each_with_index do |pregunta, index| %>
      <% if pregunta.active %>
        <div id="preguntaDiv<%= index %>" class="blog-post" style="display: none">
          <% if index == 0 %> <script>empezar();</script> <% end %>
          <h5><%= pregunta.description %></h5>
          <% pregunta.answers.each do |answer| %>
            <% if answer.active %>
              <a href="#" class="button expand" style="color:white" onclick="showExtraInfo(<%= index %>, <%= answer.correct %>);return false;">
                <%= answer.textAnswer %>
              </a>
            <% end %>
          <% end %>
        </div>
        <div id="extraInfoDiv<%= index %>" class="row medium-8 large-7 columns" style="display: none">
          <div class="blog-post">
            <div align="center">
              <h3 id="respuestaCorrecta<%= index %>">Correcto!</h3>
              <%= image_tag(pregunta.imgURL, :class => "thumbnail") %>
            </div>
            <div class="callout">
              <p><%= pregunta.extraInfo %></p>
            </div>
            <% if index == @preguntas.size - 1 %>
              <%= link_to "Terminar", endquiz_path, :class => "button expand", :style=>"color:white" %>
            <% else %>
              <a href="#" class="button expand" style="color:white" onclick="showSigPregunta(<%= index %>);return false;">
                Siguiente
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<script language="javascript" type="text/javascript">
  function showExtraInfo(i, correcto) {
    if(correcto) {
      document.getElementById("respuestaCorrecta" + i).innerHTML = "Correcto!";
      <%= current_user.currentPoints += 10 %>
      <%= current_user.save %>
    }else {
      document.getElementById("respuestaCorrecta" + i).innerHTML = "Incorrecto!";
    }

    var pDiv = document.getElementById("preguntaDiv" + i);
    var iDiv = document.getElementById("extraInfoDiv" + i);
    pDiv.style.display = 'none';
    iDiv.style.display = 'inline';
  }

  function showSigPregunta(i) {
    var sig = i + 1;
    var pDiv = document.getElementById("preguntaDiv" + sig);
    var iDiv = document.getElementById("extraInfoDiv" + i);
    pDiv.style.display = 'inline';
    iDiv.style.display = 'none';
  }
</script>
