
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
      <div class="header action"><%= link_to "Salir", destroy_admin_session_path, :method => :delete %></div>
    </div>
  </div>

<div class="row small-up-1 medium-up-3 large-up-3">
    <h1><%= @sala.name %></h1>
    <h4><%= @sala.description %></h4>

    <% @preguntas.each do |pregunta| %>
      <div class="column">
        <%= link_to image_tag(pregunta.imgURL, :class => "thumbnail imagen"), pregunta_show_path({:salaid => @sala.id, :exposicionid => @exposicionid, :museoid => @museoid, :id => pregunta.id}) %>
        <h5><%= pregunta.description %></h5>
        <div class="museo_links">
          <%= link_to "Editar", pregunta_edit_path({:salaid => @sala.id, :exposicionid => @exposicionid, :museoid => @museoid, :id => pregunta.id}) %>, <%= link_to "Borrar", pregunta_destroy_path(pregunta), :method => :delete %>
        </div>  
      </div>
    <% end %>
    <a class="large button expand nuevo" href="<%= pregunta_new_path({:museoid => @museoid, :exposicionid => @exposicionid, :salaid => @sala.id}) %>">Nueva Pregunta</a>
  </div>

   <br><br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <%= link_to "Regresar", exposicion_show_path({:museoid => @museoid, :id => @exposicionid}), :class => "button expand regresar", :style=>"color:white" %>
      </div>
    </div>

</div>