
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <% if admin_signed_in? %>
        <div style="background-color: #52318e; color: white; margin-top: -15px;">
          &nbsp;
          <div class="header action signin" style="background-color: #52318e; line-height: 24px;">
            <%= link_to "Salir", destroy_admin_session_path, style:"height: 36px; padding-bottom: 1px;", :method => :delete %>
          </div>
        </div>
    <% end %>

    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
    </div>
  </div>

  <div class="callout secondary" style="background-color: #e6ccff;">
    <div class="row column" >
      <div><%= link_to "Menú", '/dashboard', :class => "navegation" %> >
        <%= link_to "Museos", '/museos', :class => "navegation" %> >
        <%= link_to Museo.find(Exposicion.find(@sala.exposicion_id).museo_id).name, '/dashboard/museos/1', :class => "navegation" %> >
        <%= link_to Exposicion.find(@sala.exposicion_id).name, '/dashboard/museos/'+Exposicion.find(@sala.exposicion_id).museo_id.to_s + '/exposicions/' + Exposicion.find(@sala.exposicion_id).id.to_s, :class => "navegation" %> >
        <b><%= @sala.name %></b>
      </div>
    </div>
  </div>

<div class="row small-up-1 medium-up-3 large-up-3">
    <% @preguntas.each do |pregunta| %>
      <div class="column" style="padding-bottom:20px;">
        <%= image_tag(pregunta.imgURL, :class => "thumbnail imagenQuiz imagen") %>
        <h5 style="text-align: justify;"><%= pregunta.description %></h5>
        <div class="museo_links">
          <%= link_to "Editar", pregunta_edit_path({:salaid => @sala.id, :exposicionid => @exposicionid, :museoid => @museoid, :id => pregunta.id}) %>, <%= link_to "Borrar", pregunta_destroy_path(pregunta), :method => :delete, data: {confirm: "Seguro que deseas borrar?"} %>
        </div>
      </div>
    <% end %>
    <a class="large button expand respuesta" href="<%= pregunta_new_path({:museoid => @museoid, :exposicionid => @exposicionid, :salaid => @sala.id}) %>">Nueva Pregunta</a>
  </div>

   <br><br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <%= link_to "Regresar", exposicion_show_path({:museoid => @museoid, :id => @exposicionid}), :class => "button expand regresar", :style=>"color:white" %>
      </div>
    </div>


</div>
