<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <h1><%= @exposicion.name %></h1>
      <h4><%= @exposicion.description %></h4>
    </div>
  </div>
<br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <% if @exposicion.salas.any? %>
      <% @salas.each do |sala| %>
        <div class="column">
          <%= link_to image_tag(sala.mapImgURL, class: "thumbnail"), '/exposicions/'+sala.exposicion_id.to_s %>
          <h5><%= sala.name %></h5>
          <h5><%= sala.description %></h5>
        </div>
      <% end %>
    <% end %>
    <a class="large button expand nuevo" href="/salas/new/<%= @exposicion.id %>">Nueva Sala</a>
  </div>
</div>

<%= link_to 'Back', '/museos/'+@exposicion.museo_id.to_s %>
