<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
      <div class="header action"><%= link_to "Salir", destroy_admin_session_path, :method => :delete %></div>
    </div>
  </div>
<br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <h1><%= @exposicion.name %></h1>
    <br/>
    <% if @exposicion.salas.any? %>
      <% @salas.each do |sala| %>
        <div class="column">
          <%= link_to image_tag(sala.mapImgURL, class: "thumbnail"), sala_show_path({:id => sala.id, :exposicionid => sala.exposicion_id, :museoid => @museoid}) %>
          <h5 style="font-weight: bold;"><%= sala.name %></h5>
          <h5><%= sala.description %></h5>
          <div class="museo_links">
            <%= link_to "Editar", sala_edit_path({:id => sala.id, :exposicionid => sala.exposicion_id, :museoid => @museoid}) %>, <%= link_to "Borrar", sala_destroy_path(sala), :method => :delete %>
          </div>
        </div>
      <% end %>
    <% end %>
    <a class="large button expand nuevo" href="<%= sala_new_path({:museoid => @exposicion.museo_id, :exposicionid => @exposicion.id}) %>">Nueva Sala</a>
  </div>
  <br><br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <%= link_to "Regresar", museo_show_path(@exposicion.museo_id), :class => "button expand regresar", :style=>"color:white" %>
      </div>
    </div>
</div>
