<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
    </div>
  </div>

  <br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <h1><%= @museo.name %></h1>
    <% if @museo.exposicions.any? %>
      <% @exposicions.each do |exposicion| %>
        <div class="column">
          <%= link_to image_tag(exposicion.imgURL, class: "thumbnail"), salasquiz_path(exposicion) %>
          <h5><%= exposicion.name %></h5>
          <h5><%= exposicion.description %></h5>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<%= link_to 'Back', '/quiz' %>
