<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

<div class="off-canvas-wrapper">
  <div class="callout primary">
    <% if admin_signed_in? %>
        <div style="background-color: #52318e; color: white; margin-top: -15px;">
          &nbsp;
          <div class="header action signin" style="background-color: #52318e; line-height: 24px;">
            <%= link_to "Salir", destroy_admin_session_path, style:"height: 36px; padding-bottom: 1px;", :method => :delete %>
          </div>
        </div>
    <% end %>

    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
    </div>
  </div>

  <div class="callout secondary" style="background-color: #e6ccff;">
  <div class="row column" >
    <div ><%= link_to "Menú", '/dashboard', :class => "navegation" %> >
      <b>Museos</b>
    </div>
  </div>
</div>

  <br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <% @museos.order("created_at asc").each do |museo| %>
      <div class="column" style="padding-bottom:20px; float: left;">
        <%= link_to image_tag(museo.imgURL, class: "thumbnail imagenQuiz imagenMenus"), museo_show_path(museo) %>
        <h5 style="font-weight: bold;"><%= museo.name %></h5>
        <h5 style="text-align: justify;"><%= museo.description %></h5>
        <div class="museo_links">
          <%= link_to "Editar", museo_edit_path(museo) %>
        </div>
      </div>
    <% end %>


  </div>
  <br><br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <%= link_to "Regresar", '/dashboard', :class => "button expand regresar", :style=>"color:white" %>
      </div>
    </div>

</div>
