<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">


<div class="off-canvas-wrapper">
  <div class="callout primary">
    <div class="row column">
      <a href="/" class="gohome"><div class="header title">3 Museos</div></a>
      <div class="header action"><%= link_to "Salir", destroy_admin_session_path, :method => :delete %></div>
    </div>
  </div>

  <br>
  <div class="row small-up-1 medium-up-3 large-up-3">
    <h1><%= @museo.name %></h1>
    <% if @museo.exposicions.any? %>
      <ol class="exposicions">
        <%= render @exposicions %>
      </ol>
    <% end %>
    <a class="large button expand nuevo" href="<%= exposicion_new_path(@museo.id) %>">Nueva Exposicion</a>
  </div>
  <br><br><br>
    <div class="row">
      <div class="small-6 large-centered columns">
        <%= link_to "Regresar", '/dashboard/museos', :class => "button expand regresar", :style=>"color:white" %>
      </div>
    </div>

</div>
