<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @museo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @museo.description %>
</p>

<p>
  <strong>Imgurl:</strong>
  <%= @museo.imgURL %>
</p>

<div class="col-md-8">
    <% if @museo.exposicions.any? %>
      <h3>Exposiciones (<%= @museo.exposicions.count %>)</h3>
      <ol class="exposicions">
        <%= render @exposicions %>
      </ol>
      <%= will_paginate @exposicions %>
    <% end %>
  </div>

<%= link_to 'Back', museos_path %>
